
* {
    box-sizing: border-box;
  }
  body{
    background-image: url(https://images.unsplash.com/photo-1534398079543-7ae6d016b86a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;

  }
  .jumbotron{
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1534190239940-9ba8944ea261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;
  }
 
.topnav {
  overflow: hidden;
  background-color: cyan;
  margin-top: -30px;
}

.topnav a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.topnav a:hover {
  background-color: rgb(126, 111, 111);
  color: black;
}


.topnav .icon {
  display: none;
}
  .menu {
    float:right;
    width:20%;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .menu a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
    text-decoration: none;
  }
  .menu a:hover{
    background-color: rgb(126, 111, 111);
  }
  .main {
    float:left;
    width:60%;
    padding:0 20px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#e5e5e5;
    color: black;
    padding: 10px 0 10px 0;
    text-align: center;
 }
  
  @media only screen and (max-width:600px) {
    /* For mobile phones: */
    .menu, .main, .right  ul.topnav li.right, 
    ul.topnav li {float: none;
      width:100%;}
    
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }